<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
    <title>Download | DocSend - Ease File Sharing Way</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <img src="/img/docsend.png" alt="DocSend logo" class="logo"> 

    <section class="download">
        <img class="download__icon" src="/img/Download-cuate (1).svg" alt="DocSend Download">
        <% if(locals.error){ %>
        <h4><%= locals.error %> Please Ask Sender To Send The File Again</h4>
        <% } else { %>
        <h2>Your File Is Ready To Download</h2>
        <p>Link expires in 24 hours</p>
        <div class="download__meta">
            <h4><%= fileName %></h4>
            <small><%= parseInt(fileSize/1000) %> KB</small>
        </div>
        <div class="send-btn-container">
            <a href="<%= downloadLink %>">Download File</a>
        </div>
        <% } %>
    </section>

    <!-- github fork button -->
    
</body>

</html>